.containerBoutonDelete{
    position:relative;
}
.boutonDelete{
    display: none;
    position: absolute;
    top: 45%;
    left: 30%;
    background-color: #BB2D3B;
    color: white;
    border: none;
    padding: 5% 10%;
    border-radius: 10px;
    font-size: 0.7vw;
}
.containerBoutonDelete:hover {
    /*background-color: rgba(0,0,0,0.2);*/
}
.containerBoutonDelete:hover .boutonDelete{
    display: block;

}