.titre {
    text-align : center;
    font-size : 30px;
    margin-bottom : 5px;
}

.formulaireContainer {
    display : flex;
    flex-direction : column;
    width:45%;
    text-align : left;
    margin: auto;
    gap: 10px;
    /*background-color : lightgrey;*/
    padding : 15px;
    border-radius: 5px;
    /*color: grey;*/
}

.fieldcontain {
    display :flex;
    flex-direction : column;
}

.textfield {
    border-radius : 5px;
    height : 40px;
    border-color : grey;
}

.checkboxContainer > label {
    width : 50%;
}

.buttonSubmit {
    border-radius : 5px;
    width : 50%;
    height : 40px;
    margin: auto;
    font-weight: bold;
}

.buttonSubmit:hover {
    background-color : #2e6da4;
    color:white;
}
