
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #FFFFFF;
    width: 100vw;
    height: 100vh;
}
.sidebarPart{
    width: 16.5%;
    height: 100vh;
    background-color: #F6F8FA;
    padding: 1.5em;
    position: relative;
    border-right: 1px solid gray;
}
.sidebarPart .logoPart #logoImage{
    padding: 1em 1.8em;
    background: #225DE7;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.sidebarPart .logoPart #logoImage i{
    color: white;
    font-size: 1.3em;
}
.sidebarPart .logoPart #logoText{
    font-family: "Poppins";
    font-weight: 600;
    letter-spacing: 0.09em;
    font-size: 1.1em;
    line-height: 1.4em;
    color: #FFFFFF;
}

.sidebarPart .logoPart #logoText span {
    font-size: 0.7em;
    letter-spacing: 0.1em;
    color: #949ba0;
}
.navigation ul{
    list-style: none;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 1em;
}
.navigation ul li{
    padding: 0.5em;
    margin-bottom: 0.6em;
    cursor: pointer;
}
.navigation .navigation-link{
    display: flex;
    text-decoration: none;
    align-content: center;
    align-items: center;
    color: #909AB4;
}
.navigation .navigation-link .bx{
    font-size: 1.5em;
    color: #909AB4;
    margin-right: 0.7em;
}

div#avatarImage {
    padding: 0.7em 2em;
    /*background: #ffc7aa;*/
    display: flex;
    justify-content: center;
    align-items: baseline;
    border-radius: 10px;
}

#avatarImage img{
    width: 2em;
}
div#avatarText {
    font-family: 'Poppins';
    font-weight: 600;
    text-transform: capitalize;
    display: flex;
    align-items: center;
}
.row.profilePart {
    position: absolute;
    bottom: 2.5em;
    flex-wrap: nowrap;
    padding: 0.7em 2em;
}
.profilePart a{
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.profilePart .bx{
    font-size: 1.5em;
}
li#link-active,.navigation ul li:hover {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%) ;
}
li#link-active .navigation-link .bx,.navigation ul li:hover .navigation-link .bx,.navigation ul li:hover .navigation-link{
    font-weight: 600;
    color: #333333;
}
li#link-active .navigation-link,.navigation ul li:hover{
    color: #333333;
}
.containerPart{
    width: 81%;
    height: 100vh;
    padding: 2.5em 6em;
    background-color: #FFF;
    /*background-color: #F2F5FF;*/
}
.row.containerBe {
    max-width: 100%;
    padding: 0;
    margin: 0;
}
.cardAnnonce{
    border-radius: 10px;
}
.cardAnnonce .card-body {
    display: flex;
    justify-content: space-between;
    /*align-content: center;*/
    /*align-items: center;*/
}
.imageCardPart{
    display: flex;
    margin-right: 2em;
}
.imageCardPart li{
    list-style: none;
    height: 3.5em;
}
.imageCardPart li img{
    object-fit: scale-down;
    height: 100%;
    background-size: contain;
    min-width: 4em;
    max-width: 4em;
}

.imageCardPart .firstImage img{
    min-width: 11em;
    height: 11em;
    object-fit: scale-down;
}
.prixCardPart{
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    /*line-height: 72px;*/
    letter-spacing: -0.02em;
}
.prixCardPart span{
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.002em;
}
.titreCardPart{
    font-size: 18px;
    font-weight: 500;
    margin-right: 2em;
}
.descCardPart {
    font-size: 12px;
    color: #7d7d7d;
}
.actionCardPart{
    display: flex;
    flex-direction: column;
    gap: 1em;
    /*justify-content: center;*/
}
.actionCardPart button{
    min-width: 13em;
    min-height: 3em;
    border: 2px solid;
    border-radius: 10px;
    font-family: Poppins;
    font-size: 13px;
    font-weight: 600;
}