@import url("./poppins/poppins.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

#login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 75px);
    /*background: url("../images/undraw_city_life_gnpr.svg");*/
    background-repeat: no-repeat;
    background-position-y: 100%;
    background-position-x: 50%;
}

.navbars{
    width: 100%;
    max-height: 75px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 5px 0px, rgba(0, 0, 0, 0.04) 0px 3px 1px -2px, rgba(0, 0, 0, 0.04) 0px 2px 2px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
}
.navbars #links ul{
    display: flex;
    align-items: center;
    padding-left: 15px;
    list-style: none;
    justify-content: center;
    padding-top: 15px;
}
.navbars #links ul li{
    color: #6C63FF;
    font-weight: 600;
    font-size: 1.6rem;
    margin: 0.2em;
    align-self: center
}
.navbars #logo{
    border-right: 2px solid #6C63FF;
    padding: 0 15px;
}

.navbars #logo img{
    width: 65px;
    height: 65px;
}

.inner{
    border-radius: 8px;
    box-shadow: rgb(0 0 0 / 20%) 0px 10px 20px 0px, rgb(0 0 0 / 4%) 0px 3px 1px -2px, rgb(0 0 0 / 4%) 0px 2px 2px 0px;
    max-width: 28.5em;
    background-color: white;
    z-index: 1;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    padding:  1rem 4.125em 3rem;
    min-width: 25%;
    min-height: 55%;
}

.inner h2{
    font-weight: 600;
    color: rgb(0, 0, 0);
    /*font-size: 2.5em;*/
    line-height: 1.5;
    text-align: center;
    margin-bottom: 0;
}

.inner .fheader{
    font-weight: 400;
    font-size: 1.5rem;
    margin-top: 0.8rem;
    text-align: center;
    margin-bottom: 10%;
}

#loginForm p{
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

#loginForm p label {
    font-size: 13px;
    font-weight: 500;
}

#loginForm p input{
    padding: 0.6em 1.5em;
    border: 1px solid #cbcbcb;
    border-radius: 5px;
}

#loginForm #remember_me_holder{
    flex-direction: row;
    align-items: center;
}

#loginForm #remember_me_holder label{
    margin-left: 0.5em;
    margin-bottom: 0;
}

#loginForm #submit{
    margin-top: 1.5em;
    border: none;
    background: #6C63FF;
    color: #FFFFFF;
}
.login_message{
    color: red;
}
#retour{
    font-size: 20px;
    color: #6c63ff;
    text-decoration: none;
    position: absolute;
    top: 1em;
    left: 1em;
}
#retour a:hover{
    color: #6c63ff;
    text-decoration: none;
}
#dot_1,#dot_2{
    width: 17em;
    height: 17em;
    position: fixed;
}
#dot_1 {
    background-size: cover;
    background-image: url("../images/dot_1.png");
    left: 31%;
    top: 8%;
}
#dot_2 {
    background-size: cover;
    background-image: url("../images/dot_2.png");
    right: 31%;
    bottom: 16%;
}