<!DOCTYPE html>
<html>
<head>
    <meta name="layout" content="main"/>
    <g:set var="entityName" value="${message(code: 'user.label', default: 'User')}"/>
    <title><g:message code="default.list.label" args="[entityName]"/></title>
</head>

<body>
<a href="#list-user" class="skip" tabindex="-1"><g:message code="default.link.skip.label"
                                                           default="Skip to content&hellip;"/></a>

<div class="nav" role="navigation">
    <ul>
        <li><a class="home" href="${createLink(uri: '/')}"><g:message code="default.home.label"/></a></li>
        <li><g:link class="create" action="create"><g:message code="default.new.label"
                                                              args="[entityName]"/></g:link></li>
    </ul>
</div>

<div id="list-user" class="content scaffold-list" role="main">
    <h1><g:message code="default.list.label" args="[entityName]"/></h1>
    <g:if test="${flash.message}">
        <div class="message" role="status">${flash.message}</div>
    </g:if>
%{--            <f:table collection="${userList}" />--}%
    <table>
        <tr>
            <th>Nom</th>
            <th>Compte bloqué</th>
            <th>Compte expiré</th>
            <th>Compte activé</th>
            <th>Annonces</th>
            <th>Actions</th>
        </tr>
        <g:each in="${userList}" var="user" status="i">
            <tr>
                <td>${user.username}</td>
                <td>${user.accountLocked ? "Oui" : "Non"}</td>
                <td>${user.accountExpired ? "Oui" : "Non"}</td>
                <td>${user.enabled ? "Oui" : "Non"}</td>
                <td>${user.annonces}</td>
                <td><g:link controller="user" action="edit" id="${user.id}">Modifier</g:link></td>
            </tr>
        </g:each>

    </table>

    <div class="pagination">
        <g:paginate total="${userCount ?: 0}"/>
    </div>
</div>
</body>
</html>