/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require bootstrap
*= require grails
*= require main
*= require mobile
*= require_self
*/
@import url(../stylesheets/poppins/poppins.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}

a, a:hover{
    text-decoration: none;
    color: inherit;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: #FFFFFF !important;
}

.contain{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.contain  #titreLogo{
    text-align: center;
    display: flex;
    flex-direction: column;
    line-height: 0.9;
    font-size: 15em;
    margin: 0;
    background: -webkit-linear-gradient(10deg, rgba(254,132,153,1) 15%, rgba(254,167,69,1) 40%, rgba(255,193,41,1) 50%, rgba(177,230,66,1) 60%, rgba(119,226,226,1) 80%, rgba(194,155,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.contain #titreLogo span{
    font-size: 0.1em;
}
.optionContainer{
    width: 100%;
}
.contain .optionContainer .cardContainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.cardContainer .card{
    width: 15em;
    height: 15em;
    border-radius: 2em;
    padding: 1.5em 2em;
    color: #FFFFFF;

}
.cardContainer .card .cardTitle{
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 0.4em;
}
#userCard{
    background: linear-gradient(220.55deg, #A531DC 0%, #4300B1 100%);
}
#annonceCard{
    background:  linear-gradient(220.55deg, #FF896D 0%, #D02020 100%);
}
#illustrationsCard{
    background: linear-gradient(220.55deg, #3793FF 0%, #0017E4 100%);
}

.buttonContainer{
    position: fixed;
    bottom: 5%;
}
#login{
    padding-right: 0.5em;
    border-right: 2px solid #333333;
}
#deco{
    padding-left: 0.5em;
}