@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.card{
     background: #fff;
     border-radius: 10px;
     box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%) ;
     padding: 3em;
 }

.card-title{
    margin: 2em 0;
}

.img-thumbnail{
    height: 16em;
    width: 18em;
}
/* From cssbuttons.io */
button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
    margin: 1em;
}

button.learn-more {
    width: 12rem;
    height: auto;
}

button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: linear-gradient(90deg, rgba(50,50,50,1) 0%, rgba(50,50,50,1) 42%, rgba(50,50,50,1) 100%);
    border-radius: 1.625rem;
}

button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}

button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}

button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
}

button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #282936;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
}

button:hover .circle {
    width: 100%;
}

button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
}

button:hover .button-text {
    color: #fff;
}

.navFront{
    background-color: white;
    box-shadow: 0 0.125rem 0.5rem rgb(0 0 0 / 8%) ;
    height: 40px ;
    padding: 0 5em;
}

.logo{
    color: rgba(255,128,89,1) ;
    font-family: cursive , "Lucida Handwriting";
    position: relative;
    animation-name: example;
    animation-duration: 4s;
    font-size: 35px;
}



@keyframes example {
    0%   {color: rgba(255,128,89,1) ; left:0px; top:0px;}
    25%  {color: rgba(255,217,79,1) ; left:200px; top:0px;}
    50%  {color: rgba(255,128,89,1) ; left:0px; top:0px;}
    75%  {color:  rgba(255,217,79,1) ; left:200px; top:0px;}
    100% {color: rgba(255,128,89,1) ; left:0px; top:0px;}
}